hostname={{ ansible_hostname }}.{{ ssmtp_rewritedomain }}
root={{ ssmtp_root }}
mailhub={{ ssmtp_mailhub }}:{{ ssmtp_mailhub_port }}
RewriteDomain={{ ssmtp_rewritedomain }}
FromLineOverride=Yes
UseTLS=No
UseSTARTTLS=Yes
AuthUser={{ ssmtp_user }}
AuthPass={{ ssmtp_password }}
AuthMethod=LOGIN
Debug=YES